Repository Team-TIFY/TIFY-SERVER, pull requests merged in 2023-08, with the labels that each got.

#22 feat: 유저 온보딩 API 및 id 중복 검사 API 작성
  Api/src/main/java/tify/server/api/user/controller/UserController.java
  Api/src/main/java/tify/server/api/user/model/dto/request/UserOnBoardingRequest.java
  Api/src/main/java/tify/server/api/user/service/UserOnBoardingUseCase.java
  Domain/src/main/java/tify/server/domain/domains/user/adaptor/UserAdaptor.java
  Domain/src/main/java/tify/server/domain/domains/user/domain/OnBoardingState.java
  Domain/src/main/java/tify/server/domain/domains/user/domain/Profile.java
  Domain/src/main/java/tify/server/domain/domains/user/domain/User.java
  Domain/src/main/java/tify/server/domain/domains/user/exception/UserException.java
  Domain/src/main/java/tify/server/domain/domains/user/repository/UserRepository.java
Labels: For: API, Type: Feature

#24 feat: 질문 리스트 관련 테이블 리스트업
  Api/src/main/java/tify/server/api/user/service/UserOnBoardingUseCase.java
  Domain/src/main/java/tify/server/domain/common/vo/UserInfoVo.java
  Domain/src/main/java/tify/server/domain/common/vo/UserProfileVo.java
  Domain/src/main/java/tify/server/domain/domains/question/adaptor/FavorQuestionAdaptor.java
  Domain/src/main/java/tify/server/domain/domains/question/domain/FavorAnswer.java
  Domain/src/main/java/tify/server/domain/domains/question/domain/FavorQuestion.java
  Domain/src/main/java/tify/server/domain/domains/question/domain/FavorQuestionCategory.java
  Domain/src/main/java/tify/server/domain/domains/question/exception/AlreadyAnsweredQuestionException.java
  Domain/src/main/java/tify/server/domain/domains/question/exception/AnswerNotFoundException.java
  Domain/src/main/java/tify/server/domain/domains/question/exception/DailyQuestionNotFoundException.java
  Domain/src/main/java/tify/server/domain/domains/question/exception/FavorAnswerNotFoundException.java
  Domain/src/main/java/tify/server/domain/domains/question/exception/FavorQuestionCategoryNotFoundException.java
  Domain/src/main/java/tify/server/domain/domains/question/exception/FavorQuestionNotFoundException.java
  Domain/src/main/java/tify/server/domain/domains/question/exception/KnockNotFoundException.java
  Domain/src/main/java/tify/server/domain/domains/question/exception/NotValidTodayQuestionException.java
  Domain/src/main/java/tify/server/domain/domains/question/exception/QuestionException.java
  Domain/src/main/java/tify/server/domain/domains/question/repository/FavorAnswerRepository.java
  Domain/src/main/java/tify/server/domain/domains/question/repository/FavorQuestionCategoryRepository.java
  Domain/src/main/java/tify/server/domain/domains/question/repository/FavorQuestionRepository.java
  Domain/src/main/java/tify/server/domain/domains/user/adaptor/UserAdaptor.java
  Domain/src/main/java/tify/server/domain/domains/user/domain/DetailCategory.java
  Domain/src/main/java/tify/server/domain/domains/user/domain/LargeCategory.java
  Domain/src/main/java/tify/server/domain/domains/user/domain/OnBoardingState.java
  Domain/src/main/java/tify/server/domain/domains/user/domain/Profile.java
  Domain/src/main/java/tify/server/domain/domains/user/domain/SmallCategory.java
  Domain/src/main/java/tify/server/domain/domains/user/domain/User.java
  Domain/src/main/java/tify/server/domain/domains/user/domain/UserOnBoardingStatus.java
  Domain/src/main/java/tify/server/domain/domains/user/repository/UserOnBoardingStatusRepository.java
  Domain/src/main/resources/application-domain.yml
Labels: For: Models/DB

#27 feat: 취향 질문 조회 및 답변 입력 API 작성
  Api/src/main/java/tify/server/api/question/controller/FavorAnswerController.java
  Api/src/main/java/tify/server/api/question/controller/FavorQuestionController.java
  Api/src/main/java/tify/server/api/question/controller/QuestionController.java
  Api/src/main/java/tify/server/api/question/model/request/PostFavorAnswerRequest.java
  Api/src/main/java/tify/server/api/question/model/vo/FavorQuestionInfoVo.java
  Api/src/main/java/tify/server/api/question/service/CreateFavorAnswerUseCase.java
  Api/src/main/java/tify/server/api/question/service/RetrieveFavorQuestionUseCase.java
  Domain/src/main/java/tify/server/domain/domains/question/adaptor/FavorAnswerAdaptor.java
  Domain/src/main/java/tify/server/domain/domains/question/adaptor/FavorQuestionAdaptor.java
  Domain/src/main/java/tify/server/domain/domains/question/domain/FavorAnswer.java
  Domain/src/main/java/tify/server/domain/domains/question/dto/model/FavorAnswerDto.java
  Domain/src/main/java/tify/server/domain/domains/question/exception/AlreadyAnsweredFavorQuestionException.java
  Domain/src/main/java/tify/server/domain/domains/question/exception/QuestionException.java
  Domain/src/main/java/tify/server/domain/domains/question/repository/FavorAnswerRepository.java
  Domain/src/main/java/tify/server/domain/domains/question/repository/FavorQuestionCategoryRepository.java
  Domain/src/main/java/tify/server/domain/domains/question/repository/FavorQuestionRepository.java
  Domain/src/main/java/tify/server/domain/domains/question/service/FavorQuestionDomainService.java
  Domain/src/main/java/tify/server/domain/domains/question/validator/FavorQuestionValidator.java
Labels: For: API, Type: Feature

#29 feat: 친구 프로필 정보 조회 API 작성
  Api/src/main/java/tify/server/api/user/controller/UserController.java
  Api/src/main/java/tify/server/api/user/service/NeighborInfoUseCase.java
  Domain/src/main/java/tify/server/domain/domains/user/adaptor/NeighborAdaptor.java
  Domain/src/main/java/tify/server/domain/domains/user/exception/UserException.java
  Domain/src/main/java/tify/server/domain/domains/user/repository/NeighborRepository.java
  Domain/src/main/java/tify/server/domain/domains/user/validator/UserValidator.java
Labels: For: API, Type: Feature

#31 feat: 유저 온보딩 상태값 필터 조회 API 작성 및 데일리 질문 카테고리 추가
  Api/src/main/java/tify/server/api/question/model/vo/DailyQuestionInfoVo.java
  Api/src/main/java/tify/server/api/user/controller/UserController.java
  Api/src/main/java/tify/server/api/user/model/dto/response/OnBoardingStatusResponse.java
  Api/src/main/java/tify/server/api/user/service/UserOnBoardingUseCase.java
  Domain/src/main/java/tify/server/domain/domains/question/domain/DailyQuestion.java
  Domain/src/main/java/tify/server/domain/domains/question/domain/DailyQuestionCategory.java
  Domain/src/main/java/tify/server/domain/domains/user/adaptor/UserAdaptor.java
  Domain/src/main/java/tify/server/domain/domains/user/exception/UserException.java
  Domain/src/main/java/tify/server/domain/domains/user/repository/UserOnBoardingCustomRepository.java
  Domain/src/main/java/tify/server/domain/domains/user/repository/UserOnBoardingCustomRepositoryImpl.java
  Domain/src/main/java/tify/server/domain/domains/user/repository/UserOnBoardingStatusRepository.java
  Domain/src/main/java/tify/server/domain/domains/user/vo/UserOnBoardingStatusInfoVo.java
Labels: For: API, For: Models/DB, Type: Refactor

#35 feat: 상품 테이블 추가 및 이미지 업데이트 도메인 로직 추가
  Api/src/main/java/tify/server/api/product/ProductController.java
  Api/src/main/java/tify/server/api/product/service/CrawlingUseCase.java
  Api/src/main/java/tify/server/api/product/service/OliveYoungCrawlUseCase.java
  Domain/src/main/java/tify/server/domain/domains/product/adaptor/ProductAdaptor.java
  Domain/src/main/java/tify/server/domain/domains/product/entity/Product.java
  Domain/src/main/java/tify/server/domain/domains/product/repository/ProductRepository.java
Labels: For: Models/DB, Type: Feature

#38 feat: 친구 목록 조회 무한스크롤 API 작성
  Api/src/main/java/tify/server/api/user/controller/UserController.java
  Api/src/main/java/tify/server/api/user/service/RetrieveNeighborListUseCase.java
  Batch/build.gradle
  Batch/src/main/java/tify/server/BatchApplication.java
  Batch/src/main/java/tify/server/job/CrawlingJobConfig.java
  Batch/src/main/java/tify/server/job/parameter/OliveYoungCrawlJobParameter.java
  Domain/src/main/java/tify/server/domain/domains/product/adaptor/ProductAdaptor.java
  Domain/src/main/java/tify/server/domain/domains/product/domain/Product.java
  Domain/src/main/java/tify/server/domain/domains/product/domain/Site.java
  Domain/src/main/java/tify/server/domain/domains/product/repository/ProductCustomRepositoryImpl.java
  Domain/src/main/java/tify/server/domain/domains/product/repository/ProductRepository.java
  Domain/src/main/java/tify/server/domain/domains/user/adaptor/NeighborAdaptor.java
  Domain/src/main/java/tify/server/domain/domains/user/dto/condition/NeighborCondition.java
  Domain/src/main/java/tify/server/domain/domains/user/dto/model/RetrieveNeighborDTO.java
  Domain/src/main/java/tify/server/domain/domains/user/repository/NeighborCustomRepository.java
  Domain/src/main/java/tify/server/domain/domains/user/repository/NeighborCustomRepositoryImpl.java
  Domain/src/main/java/tify/server/domain/domains/user/repository/NeighborRepository.java
  settings.gradle
Labels: For: API, Type: Feature

#40 feat: 친구 목록 수정 API 작성 및 리팩토링
  Api/src/main/java/tify/server/api/answer/service/RetrieveDailyAnswerUseCase.java
  Api/src/main/java/tify/server/api/user/controller/UserController.java
  Api/src/main/java/tify/server/api/user/model/dto/request/CreateNeighborUseCase.java
  Api/src/main/java/tify/server/api/user/model/dto/request/PatchNeighborsOrdersRequest.java
  Api/src/main/java/tify/server/api/user/service/UpdateNeighborUseCase.java
  Domain/src/main/java/tify/server/domain/domains/question/adaptor/AnswerAdaptor.java
  Domain/src/main/java/tify/server/domain/domains/question/dto/condition/AnswerCondition.java
  Domain/src/main/java/tify/server/domain/domains/question/repository/AnswerCustomRepository.java
  Domain/src/main/java/tify/server/domain/domains/question/repository/AnswerCustomRepositoryImpl.java
  Domain/src/main/java/tify/server/domain/domains/user/adaptor/NeighborAdaptor.java
  Domain/src/main/java/tify/server/domain/domains/user/domain/Neighbor.java
  Domain/src/main/java/tify/server/domain/domains/user/dto/model/RetrieveNeighborDTO.java
  Domain/src/main/java/tify/server/domain/domains/user/exception/AlreadyExistNeighborRelationshipException.java
  Domain/src/main/java/tify/server/domain/domains/user/exception/SelfNeighborException.java
  Domain/src/main/java/tify/server/domain/domains/user/exception/UserException.java
  Domain/src/main/java/tify/server/domain/domains/user/repository/NeighborCustomRepositoryImpl.java
  Domain/src/main/java/tify/server/domain/domains/user/repository/NeighborRepository.java
Labels: For: API, Type: Feature
