Repository Team-TIFY/TIFY-SERVER, pull requests merged in 2023-10, with the labels that each got.

#55 [FEATURE] 모든 친구 불러오기 API 추가작업
  Domain/src/main/java/tify/server/domain/domains/user/dto/model/RetrieveNeighborDTO.java
  Domain/src/main/java/tify/server/domain/domains/user/repository/NeighborCustomRepositoryImpl.java
Labels: For: API, Type: Feature

#56 refactor: 상품 추천 request 리팩토링 #48
  Api/src/main/java/tify/server/api/product/service/RecommendationUseCase.java
  Domain/src/main/java/tify/server/domain/domains/question/adaptor/FavorAnswerAdaptor.java
  Domain/src/main/java/tify/server/domain/domains/question/domain/strategy/FAACCRecommendationStrategy.java
  Domain/src/main/java/tify/server/domain/domains/question/domain/strategy/FEDIGRecommendationStrategy.java
  Domain/src/main/java/tify/server/domain/domains/question/domain/strategy/FEFASRecommendationStrategy.java
  Domain/src/main/java/tify/server/domain/domains/question/dto/condition/FavorRecommendationDTO.java
  Domain/src/main/java/tify/server/domain/domains/question/repository/FavorAnswerCustomRepository.java
  Domain/src/main/java/tify/server/domain/domains/question/repository/FavorAnswerCustomRepositoryImpl.java
  Domain/src/main/java/tify/server/domain/domains/question/strategy/BMEYERecommendationStrategy.java
  Domain/src/main/java/tify/server/domain/domains/question/strategy/BMLIPRecommendationStrategy.java
  Domain/src/main/java/tify/server/domain/domains/question/strategy/BMPERRecommendationStrategy.java
  Domain/src/main/java/tify/server/domain/domains/question/strategy/FAACCRecommendationStrategy.java
  Domain/src/main/java/tify/server/domain/domains/question/strategy/FCTOPRecommendationStrategy.java
  Domain/src/main/java/tify/server/domain/domains/question/strategy/FEBAGRecommendationStrategy.java
  Domain/src/main/java/tify/server/domain/domains/question/strategy/FEDIGRecommendationStrategy.java
  Domain/src/main/java/tify/server/domain/domains/question/strategy/FEFASRecommendationStrategy.java
  Domain/src/main/java/tify/server/domain/domains/question/strategy/ProductRecommendationStrategy.java
Labels: For: Utils, Type: Refactor

#66 카카오 회원가입 수정, 유저 취향 조회 필터 구현
  Api/src/main/java/tify/server/api/auth/controller/AuthController.java
  Api/src/main/java/tify/server/api/auth/service/SignUpUseCase.java
  Api/src/main/java/tify/server/api/question/controller/FavorQuestionController.java
  Api/src/main/java/tify/server/api/question/model/vo/FavorAnswerInfoVo.java
  Api/src/main/java/tify/server/api/question/service/CreateFavorAnswerUseCase.java
  Api/src/main/java/tify/server/api/question/service/RetrieveFavorAnswerUseCase.java
  Domain/src/main/java/tify/server/domain/domains/question/adaptor/FavorAnswerAdaptor.java
  Domain/src/main/java/tify/server/domain/domains/question/dto/model/FavorAnswerVo.java
  Domain/src/main/java/tify/server/domain/domains/question/repository/FavorAnswerCustomRepository.java
  Domain/src/main/java/tify/server/domain/domains/question/repository/FavorAnswerCustomRepositoryImpl.java
  Domain/src/main/java/tify/server/domain/domains/user/domain/User.java
  Domain/src/main/java/tify/server/domain/domains/user/service/UserDomainService.java
Labels: For: API, Type: Error/Bugs, Type: Feature

#71 feat: 친구 관련 API 처리
  Api/src/main/java/tify/server/api/user/controller/UserController.java
  Api/src/main/java/tify/server/api/user/service/AcceptanceNeighborApplicationUseCase.java
  Api/src/main/java/tify/server/api/user/service/CreateNeighborUseCase.java
  Api/src/main/java/tify/server/api/user/service/RejectNeighborApplicationUseCase.java
  Api/src/main/java/tify/server/api/user/service/RetrieveNeighborApplicationUseCase.java
  Api/src/main/java/tify/server/api/user/service/RetrieveUserListUseCase.java
  Domain/src/main/java/tify/server/domain/common/vo/UserInfoVo.java
  Domain/src/main/java/tify/server/domain/domains/question/repository/FavorAnswerCustomRepositoryImpl.java
  Domain/src/main/java/tify/server/domain/domains/user/adaptor/NeighborAdaptor.java
  Domain/src/main/java/tify/server/domain/domains/user/adaptor/UserAdaptor.java
  Domain/src/main/java/tify/server/domain/domains/user/domain/NeighborApplication.java
  Domain/src/main/java/tify/server/domain/domains/user/domain/NeighborApplicationStatus.java
  Domain/src/main/java/tify/server/domain/domains/user/dto/condition/UserCondition.java
  Domain/src/main/java/tify/server/domain/domains/user/dto/model/RetrieveNeighborApplicationDTO.java
  Domain/src/main/java/tify/server/domain/domains/user/exception/NeighborApplicationNotFoundException.java
  Domain/src/main/java/tify/server/domain/domains/user/exception/NeighborApplicationNotMatchedToUserIdException.java
  Domain/src/main/java/tify/server/domain/domains/user/exception/NeighborApplicationStatusNotWaitException.java
  Domain/src/main/java/tify/server/domain/domains/user/exception/UserException.java
  Domain/src/main/java/tify/server/domain/domains/user/repository/NeighborApplicationCustomRepository.java
  Domain/src/main/java/tify/server/domain/domains/user/repository/NeighborApplicationCustomRepositoryImpl.java
  Domain/src/main/java/tify/server/domain/domains/user/repository/NeighborApplicationRepository.java
  Domain/src/main/java/tify/server/domain/domains/user/repository/UserCustomRepository.java
  Domain/src/main/java/tify/server/domain/domains/user/repository/UserCustomRepositoryImpl.java
  Domain/src/main/java/tify/server/domain/domains/user/validator/NeighborValidator.java
Labels: For: API, Type: Feature

#73 refactor: 함께 아는 친구 수 response에 추가 #72
  Api/src/main/java/tify/server/api/user/controller/UserController.java
  Api/src/main/java/tify/server/api/user/service/RetrieveNeighborApplicationUseCase.java
  Domain/src/main/java/tify/server/domain/domains/user/adaptor/NeighborAdaptor.java
  Domain/src/main/java/tify/server/domain/domains/user/dto/model/GetNeighborApplicationDTO.java
  Domain/src/main/java/tify/server/domain/domains/user/dto/model/RetrieveNeighborApplicationDTO.java
Labels: For: API, Type: Refactor
