Repository Team-TIFY/TIFY-SERVER, pull requests merged in 2023-07, with the labels that each got.

#8 feat: 서버 에러 Slack 알림 기능 추가 #7
  Api/build.gradle
  Api/src/main/java/tify/server/api/config/GlobalExceptionHandler.java
  Api/src/main/java/tify/server/api/config/HttpContentCacheFilter.java
  Api/src/main/java/tify/server/api/config/ServletFilterConfig.java
  Api/src/main/java/tify/server/api/config/security/SecurityUtils.java
  Api/src/main/java/tify/server/api/config/slack/SlackApiProvider.java
  Api/src/main/java/tify/server/api/config/slack/SlackInternalErrorSender.java
  Api/src/main/java/tify/server/api/example/HealthCheckController.java
  Api/src/main/resources/application.yml
  Core/src/main/java/tify/server/core/helper/SpringEnvironmentHelper.java
  Infrastructure/build.gradle
  Infrastructure/src/main/java/tify/server/infrastructure/config/redis/RedisConfig.java
  Infrastructure/src/main/java/tify/server/infrastructure/config/redis/RedissonConfig.java
  Infrastructure/src/main/java/tify/server/infrastructure/config/slack/SlackErrorNotificationProvider.java
  Infrastructure/src/main/java/tify/server/infrastructure/config/slack/SlackHelper.java
  Infrastructure/src/main/java/tify/server/infrastructure/config/slack/config/SlackApiConfig.java
  Infrastructure/src/main/resources/application-infrastructure.yml
Labels: For: Utils, Type: Feature

#10 feat: 카카오 로그인 구현
  Api/src/main/java/tify/server/api/auth/controller/AuthController.java
  Api/src/main/java/tify/server/api/config/GlobalExceptionHandler.java
  Domain/src/main/java/tify/server/domain/domains/user/exception/UserException.java
  Domain/src/main/java/tify/server/domain/domains/user/validator/UserValidator.java
  Infrastructure/src/main/java/tify/server/infrastructure/outer/api/oauth/config/KakaoAuthErrorDecoder.java
Labels: For: API, Type: Feature

#12 feat: 유저 프로필, 유저 취향 정보 조회 & 유저 프로필 수정 API 작성
  Api/src/main/java/tify/server/api/auth/controller/AuthController.java
  Api/src/main/java/tify/server/api/config/GlobalExceptionHandler.java
  Api/src/main/java/tify/server/api/config/SwaggerConfig.java
  Api/src/main/java/tify/server/api/user/controller/UserController.java
  Api/src/main/java/tify/server/api/user/model/dto/request/PutUserProfileRequest.java
  Api/src/main/java/tify/server/api/user/model/dto/response/UserInfoResponse.java
  Api/src/main/java/tify/server/api/user/service/UpdateUserProfileUseCase.java
  Api/src/main/java/tify/server/api/user/service/UserFavorUseCase.java
  Api/src/main/java/tify/server/api/user/service/UserInfoUseCase.java
  Api/src/main/java/tify/server/api/utils/UserUtils.java
  Api/src/main/resources/application.yml
  Core/src/main/java/tify/server/core/exception/GlobalException.java
  Domain/src/main/java/tify/server/domain/common/vo/UserFavorVo.java
  Domain/src/main/java/tify/server/domain/common/vo/UserInfoVo.java
  Domain/src/main/java/tify/server/domain/common/vo/UserProfileVo.java
  Domain/src/main/java/tify/server/domain/common/vo/UserTagVo.java
  Domain/src/main/java/tify/server/domain/domains/tag/adaptor/LargeCategoryAdaptor.java
  Domain/src/main/java/tify/server/domain/domains/tag/adaptor/SmallCategoryAdaptor.java
  Domain/src/main/java/tify/server/domain/domains/tag/domain/LargeCategory.java
  Domain/src/main/java/tify/server/domain/domains/tag/domain/SmallCategory.java
  Domain/src/main/java/tify/server/domain/domains/tag/exception/LargeCategoryNotFoundException.java
  Domain/src/main/java/tify/server/domain/domains/tag/exception/SmallCategoryNotFoundException.java
  Domain/src/main/java/tify/server/domain/domains/tag/exception/TagException.java
  Domain/src/main/java/tify/server/domain/domains/tag/repository/LargeCategoryRepository.java
  Domain/src/main/java/tify/server/domain/domains/tag/repository/SmallCategoryRepository.java
  Domain/src/main/java/tify/server/domain/domains/user/domain/Gender.java
  Domain/src/main/java/tify/server/domain/domains/user/domain/LargeCategory.java
  Domain/src/main/java/tify/server/domain/domains/user/domain/Profile.java
  Domain/src/main/java/tify/server/domain/domains/user/domain/SmallCategory.java
  Domain/src/main/java/tify/server/domain/domains/user/domain/User.java
  Domain/src/main/java/tify/server/domain/domains/user/domain/UserFavor.java
  Domain/src/main/java/tify/server/domain/domains/user/domain/UserTag.java
  Domain/src/main/java/tify/server/domain/domains/user/exception/UserException.java
  Domain/src/main/java/tify/server/domain/domains/user/exception/UserGenderNotFoundException.java
  Domain/src/main/java/tify/server/domain/domains/user/repository/UserCustomRepository.java
  Domain/src/main/java/tify/server/domain/domains/user/repository/UserCustomRepositoryImpl.java
  Domain/src/main/java/tify/server/domain/domains/user/repository/UserRepository.java
  Domain/src/main/resources/application-domain.yml
Labels: For: API, Type: Feature

#14 feat: 유저 인증 관련 추가 API 작성
  .github/workflows/deploy.yml
  Api/src/main/java/tify/server/api/auth/controller/AuthController.java
  Api/src/main/java/tify/server/api/auth/model/response/UserCanRegisterResponse.java
  Api/src/main/java/tify/server/api/auth/service/LoginUseCase.java
  Api/src/main/java/tify/server/api/auth/service/LogoutUseCase.java
  Api/src/main/java/tify/server/api/auth/service/SignUpUseCase.java
  Api/src/main/java/tify/server/api/config/security/JwtTokenFilter.java
  Core/src/main/java/tify/server/core/jwt/JwtTokenProvider.java
  Domain/src/main/java/tify/server/domain/domains/user/adaptor/RefreshTokenAdaptor.java
  Domain/src/main/java/tify/server/domain/domains/user/repository/RefreshTokenRepository.java
  Domain/src/main/java/tify/server/domain/domains/user/service/UserDomainService.java
  Domain/src/main/java/tify/server/domain/domains/user/validator/UserValidator.java
Labels: For: API, For: Deploy, Type: Feature, Type: Refactor

#16 feat: 데일리 질문 조회 및 답변 작성 API
  .github/CODEOWNERS
  Api/src/main/java/tify/server/api/question/controller/QuestionController.java
  Api/src/main/java/tify/server/api/question/model/request/PostAnswerRequest.java
  Api/src/main/java/tify/server/api/question/model/response/GetDailyQuestionResponse.java
  Api/src/main/java/tify/server/api/question/model/vo/DailyQuestionInfoVo.java
  Api/src/main/java/tify/server/api/question/service/CreateAnswerUseCase.java
  Api/src/main/java/tify/server/api/question/service/RetrieveDailyQuestionUseCase.java
  Core/src/main/java/tify/server/core/converter/DateTimeConverter.java
  Core/src/main/java/tify/server/core/exception/DateFormatException.java
  Core/src/main/java/tify/server/core/exception/GlobalException.java
  Domain/src/main/java/tify/server/domain/domains/question/adaptor/AnswerAdaptor.java
  Domain/src/main/java/tify/server/domain/domains/question/adaptor/DailyQuestionAdaptor.java
  Domain/src/main/java/tify/server/domain/domains/question/domain/Answer.java
  Domain/src/main/java/tify/server/domain/domains/question/domain/Category.java
  Domain/src/main/java/tify/server/domain/domains/question/domain/DailyQuestion.java
  Domain/src/main/java/tify/server/domain/domains/question/exception/AlreadyAnsweredQuestionException.java
  Domain/src/main/java/tify/server/domain/domains/question/exception/DailyQuestionException.java
  Domain/src/main/java/tify/server/domain/domains/question/exception/DailyQuestionNotFoundException.java
  Domain/src/main/java/tify/server/domain/domains/question/exception/NotValidTodayQuestionException.java
  Domain/src/main/java/tify/server/domain/domains/question/repository/AnswerRepository.java
  Domain/src/main/java/tify/server/domain/domains/question/repository/DailyQuestionRepository.java
  Domain/src/main/java/tify/server/domain/domains/question/service/DailyQuestionDomainService.java
  Domain/src/main/java/tify/server/domain/domains/question/validator/QuestionValidator.java
  Domain/src/main/java/tify/server/domain/domains/user/service/UserDomainService.java
  Domain/src/main/java/tify/server/domain/domains/user/validator/UserValidator.java
Labels: For: API, Type: Feature

#18 feat: 데일리 질문에 대한 답변 조회 API 작성 #17
  Api/src/main/java/tify/server/api/answer/controller/AnswerController.java
  Api/src/main/java/tify/server/api/answer/model/response/RetrieveAnswerCountResponse.java
  Api/src/main/java/tify/server/api/answer/model/response/RetrieveAnswerDTO.java
  Api/src/main/java/tify/server/api/answer/service/RetrieveDailyAnswerCountUseCase.java
  Api/src/main/java/tify/server/api/answer/service/RetrieveDailyAnswerUseCase.java
  Api/src/main/java/tify/server/api/answer/vo/AnswerInfoVo.java
  Api/src/main/java/tify/server/api/common/slice/SliceResponse.java
  Core/src/main/java/tify/server/core/annotation/Mapper.java
  Domain/src/main/java/tify/server/domain/common/util/SliceUtil.java
  Domain/src/main/java/tify/server/domain/domains/question/adaptor/AnswerAdaptor.java
  Domain/src/main/java/tify/server/domain/domains/question/domain/Answer.java
  Domain/src/main/java/tify/server/domain/domains/question/dto/condition/AnswerCondition.java
  Domain/src/main/java/tify/server/domain/domains/question/dto/model/AnswerVo.java
  Domain/src/main/java/tify/server/domain/domains/question/repository/AnswerCustomRepository.java
  Domain/src/main/java/tify/server/domain/domains/question/repository/AnswerCustomRepositoryImpl.java
  Domain/src/main/java/tify/server/domain/domains/question/repository/AnswerRepository.java
  Domain/src/main/java/tify/server/domain/domains/user/adaptor/NeighborAdaptor.java
  Domain/src/main/java/tify/server/domain/domains/user/domain/User.java
  Domain/src/main/java/tify/server/domain/domains/user/repository/NeighborRepository.java
Labels: For: API, Type: Feature
