Repository Team-TIFY/TIFY-SERVER, pull requests merged in 2023-09, with the labels that each got.

#43 SmallCategory별 답변 여부 조회 API 작성
  Api/src/main/java/tify/server/api/question/controller/FavorQuestionController.java
  Api/src/main/java/tify/server/api/question/model/response/RetrieveCategoryIsAnsweredDTO.java
  Api/src/main/java/tify/server/api/question/service/RetrieveIsAnsweredUseCase.java
  Domain/build.gradle
  Domain/src/main/java/tify/server/domain/config/QueryDslConfig.java
  Domain/src/main/java/tify/server/domain/domains/question/adaptor/FavorAnswerAdaptor.java
  Domain/src/main/java/tify/server/domain/domains/question/adaptor/FavorQuestionAdaptor.java
  Domain/src/main/java/tify/server/domain/domains/question/dto/model/FavorAnswerCategoryDto.java
  Domain/src/main/java/tify/server/domain/domains/question/repository/FavorAnswerCustomRepository.java
  Domain/src/main/java/tify/server/domain/domains/question/repository/FavorAnswerCustomRepositoryImpl.java
  Domain/src/main/java/tify/server/domain/domains/question/repository/FavorAnswerRepository.java
  Domain/src/main/java/tify/server/domain/domains/user/domain/DetailCategory.java
  Domain/src/main/java/tify/server/domain/domains/user/domain/SmallCategory.java
Labels: For: API, Type: Feature

#45 [FEATURE] 상품 추천 로직 작성
  Domain/src/main/java/tify/server/domain/domains/product/adaptor/ProductAdaptor.java
  Domain/src/main/java/tify/server/domain/domains/product/repository/ProductCustomRepository.java
  Domain/src/main/java/tify/server/domain/domains/product/repository/ProductCustomRepositoryImpl.java
  Domain/src/main/java/tify/server/domain/domains/question/domain/strategy/BMEYERecommendationStrategy.java
  Domain/src/main/java/tify/server/domain/domains/question/domain/strategy/BMLIPRecommendationStrategy.java
  Domain/src/main/java/tify/server/domain/domains/question/domain/strategy/FAACCRecommendationStrategy.java
  Domain/src/main/java/tify/server/domain/domains/question/domain/strategy/FCTOPRecommendationStrategy.java
  Domain/src/main/java/tify/server/domain/domains/question/domain/strategy/FEBAGRecommendationStrategy.java
  Domain/src/main/java/tify/server/domain/domains/question/domain/strategy/FEDIGRecommendationStrategy.java
  Domain/src/main/java/tify/server/domain/domains/question/domain/strategy/FEFASRecommendationStrategy.java
  Domain/src/main/java/tify/server/domain/domains/question/domain/strategy/ProductRecommendationStrategy.java
  Domain/src/main/java/tify/server/domain/domains/question/dto/condition/FavorRecommendationDTO.java
  Domain/src/main/java/tify/server/domain/domains/question/exception/QuestionException.java
  Domain/src/test/java/tify/server/domain/domains/question/domain/strategy/FEDIGRecommendationStrategyTest.java
Labels: For: Utils, Type: Feature

#47 feat: detailCategory 별 답변 여부 조회 API 작성 #46
  Api/src/main/java/tify/server/api/question/controller/FavorAnswerController.java
  Api/src/main/java/tify/server/api/question/controller/FavorQuestionController.java
  Api/src/main/java/tify/server/api/question/model/response/RetrieveIsAnsweredByDetailCategoryResponse.java
  Api/src/main/java/tify/server/api/question/service/RetrieveIsAnsweredUseCase.java
  Domain/src/main/java/tify/server/domain/domains/question/adaptor/FavorAnswerAdaptor.java
  Domain/src/main/java/tify/server/domain/domains/question/repository/FavorAnswerCustomRepositoryImpl.java
  Domain/src/main/java/tify/server/domain/domains/question/repository/FavorAnswerRepository.java
Labels: For: API, Type: Feature

#50 [FEATURE] 상품 검색 기능 API 작성
  Api/src/main/java/tify/server/api/product/ProductController.java
  Api/src/main/java/tify/server/api/product/controller/ProductController.java
  Api/src/main/java/tify/server/api/product/service/ProductSearchUseCase.java
  Api/src/main/java/tify/server/api/question/controller/FavorQuestionController.java
  Domain/src/main/java/tify/server/domain/domains/product/adaptor/ProductAdaptor.java
  Domain/src/main/java/tify/server/domain/domains/product/dto/ProductCondition.java
  Domain/src/main/java/tify/server/domain/domains/product/dto/ProductRetrieveDTO.java
  Domain/src/main/java/tify/server/domain/domains/product/repository/ProductCustomRepository.java
  Domain/src/main/java/tify/server/domain/domains/product/repository/ProductCustomRepositoryImpl.java
Labels: For: API, Type: Feature

#52 [FEATURE] 생일인 친구 불러오기 API 작성
  Api/src/main/java/tify/server/api/user/controller/UserController.java
  Api/src/main/java/tify/server/api/user/service/RetrieveBirthdayNeighborUseCase.java
  Domain/src/main/java/tify/server/domain/domains/user/adaptor/NeighborAdaptor.java
  Domain/src/main/java/tify/server/domain/domains/user/repository/NeighborCustomRepository.java
  Domain/src/main/java/tify/server/domain/domains/user/repository/NeighborCustomRepositoryImpl.java
Labels: For: API, Type: Feature

#53 [EDIT] 상품 검색 GetMapping 추가
  Api/src/main/java/tify/server/api/product/controller/ProductController.java
Labels: Type: Refactor
